<a href="https://colab.research.google.com/github/sampritich/samplerepo/blob/master/Predictive%20analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b> Predictive Analysis</b>

<img src="https://i0.wp.com/soulpageit.com/wp-content/uploads/2019/07/Predictive-Analytics-Software.png?fit=849%2C823&ssl=1" width="320" height="300" >

# <b>Statistical Leraning</b>
Statistical learning refers to a set of tools for modelling and understanding complex data<br>
Statistical algorithms help analyse input data and obtain useful insights from it<br>
These insights are obtained in two ways – Inference & Predictions

# <b>Data</b>

What is data?
data are individual pieces of factual information recorded and the raw information from which statistics are created. Statistics are the results of data analysis 

<img src="https://cdn4.iconfinder.com/data/icons/STROKE/business/png/400/group_data.png" width="200" height="200" >

In [1]:
!wget https://www.dropbox.com/s/m49xi2l7zm2ppqk/InputDataFiles.zip

--2019-12-22 09:21:01--  https://www.dropbox.com/s/m49xi2l7zm2ppqk/InputDataFiles.zip
Resolving www.dropbox.com (www.dropbox.com)... 162.125.1.1, 2620:100:601b:1::a27d:801
Connecting to www.dropbox.com (www.dropbox.com)|162.125.1.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/m49xi2l7zm2ppqk/InputDataFiles.zip [following]
--2019-12-22 09:21:01--  https://www.dropbox.com/s/raw/m49xi2l7zm2ppqk/InputDataFiles.zip
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucd53a7feec82be787044f74b175.dl.dropboxusercontent.com/cd/0/inline/Auu-uPgOBsrpheKgDCk8sOvhkhKNYMjV7QUJ5sKMwxJM5hRYqg1l5Xu37vg5rtZWFzyQyOF_1LyEXScKlfE1ClEZc0-aGv_wyKdXptzhXvHMN1CN0bFfWT66wYg5aCSnI5c/file# [following]
--2019-12-22 09:21:02--  https://ucd53a7feec82be787044f74b175.dl.dropboxusercontent.com/cd/0/inline/Auu-uPgOBsrpheKgDCk8sOvhkhKNYMjV7QUJ5sKMwxJM5hRYqg1l5Xu37vg5rtZWFzyQyOF_1LyEXScKlfE1ClEZc0-aGv_wyKdXptzhXvHMN1CN0bFfWT66wYg5aCSnI5c/file
Resolving ucd53a7feec82be787044f74b175.dl.dropboxusercontent.com (ucd53a7feec82be787044f74b175.dl.dropboxusercontent.com)... 162.125.8.6, 2620:100:601b:6::a27d:806
Connecting to ucd53a7feec82be787044f74b175.dl.dropboxusercontent.com (ucd53a7feec82be787044f74b175.dl.dropboxusercontent.com)|162.125.8.6|:443... connected.
HTTP request sent, awaiting response... 302 FOUND
Location: /cd/0/inline2/Aut7yhFwE1Ytdp0EwYiW5lSKY4oAMi3tR8ffaY2kjIKayoNdGOKm7aHjCtl0N-Z6pZyDfjM8dAtvjAyg_ydfjlwdGNZH89nPTLgOsOtX-8Bi858jhPkIxEKkIxybO3nK6IpHPwSPNassPn7lsvBqYjpkQXpfOgjzqsSQtSGR0eZpAKYSm1zm5vPllYFHXPnsJsxUZikpk2PhhtUlNf97KrRY71eLpaWiz3zpldF3sJ9xlbGECqogqfEI_R5FC7DrK8mAKMfa1Tc22UzOXW6XLvOqh_eOtcbN3p-0R4jNtqFPSjdSZm6SsXVTNFQJ7CyG6TQNRVX7ct-L-ssZM8MMd-K3Z6O3dilXNkAjMvhvT6BZTg/file [following]
--2019-12-22 09:21:02--  https://ucd53a7feec82be787044f74b175.dl.dropboxusercontent.com/cd/0/inline2/Aut7yhFwE1Ytdp0EwYiW5lSKY4oAMi3tR8ffaY2kjIKayoNdGOKm7aHjCtl0N-Z6pZyDfjM8dAtvjAyg_ydfjlwdGNZH89nPTLgOsOtX-8Bi858jhPkIxEKkIxybO3nK6IpHPwSPNassPn7lsvBqYjpkQXpfOgjzqsSQtSGR0eZpAKYSm1zm5vPllYFHXPnsJsxUZikpk2PhhtUlNf97KrRY71eLpaWiz3zpldF3sJ9xlbGECqogqfEI_R5FC7DrK8mAKMfa1Tc22UzOXW6XLvOqh_eOtcbN3p-0R4jNtqFPSjdSZm6SsXVTNFQJ7CyG6TQNRVX7ct-L-ssZM8MMd-K3Z6O3dilXNkAjMvhvT6BZTg/file
Reusing existing connection to ucd53a7feec82be787044f74b175.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 5048351 (4.8M) [application/zip]
Saving to: ‘InputDataFiles.zip’

InputDataFiles.zip  100%[===================>]   4.81M  15.3MB/s    in 0.3s

2019-12-22 09:21:03 (15.3 MB/s) - ‘InputDataFiles.zip’ saved [5048351/5048351]

In [2]:
!unzip InputDataFiles.zip

Archive:  InputDataFiles.zip
   creating: InputDataFiles/
  inflating: InputDataFiles/items.csv
  inflating: InputDataFiles/item_categories.csv
  inflating: InputDataFiles/sales_train.csv
  inflating: InputDataFiles/shops.csv
  inflating: InputDataFiles/Supermarket.csv

### Load Data

In [0]:
import pandas as pd

In [0]:
items = pd.read_csv("/content/InputDataFiles/items.csv")
shops = pd.read_csv("/content/InputDataFiles/shops.csv")
cats = pd.read_csv("/content/InputDataFiles/item_categories.csv")
train = pd.read_csv("/content/InputDataFiles/sales_train.csv")

### Look at the first five rows

In [5]:
train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00             1
1  03.01.2013               0       25     2552      899.00             1
2  05.01.2013               0       25     2552      899.00            -1
3  06.01.2013               0       25     2554     1709.05             1
4  15.01.2013               0       25     2555     1099.00             1

### Dimensions of Data

In [6]:
train.shape

(1043246, 6)

In [7]:
print("Categories:",cats.shape)
print("Items:",items.shape)
print("Shops:",shops.shape)
print("Train:",train.shape)

Categories: (84, 2)
Items: (22170, 3)
Shops: (60, 2)
Train: (1043246, 6)

### Data type for each attribute

In [8]:
train.dtypes

date               object
date_block_num      int64
shop_id             int64
item_id             int64
item_price        float64
item_cnt_day        int64
dtype: object

<b> Introduction to datatypes </b>

<img src="https://miro.medium.com/max/2924/1*dvvxoZTdewLFs3RyZTJreA.png
" width="400" height="300" >

# Descriptive Statistics
Descriptive Statistics is a data analysis strategy
It deals with the presentation of numerical facts,or data, in either tables or graph form, and with the methodology of analysing the data

![image.png]()

#Calculating Measures of Central Tendency

# Mean: Represents average values

In [9]:
train.describe()

       date_block_num       shop_id       item_id    item_price  item_cnt_day
count    1.043246e+06  1.043246e+06  1.043246e+06  1.043246e+06  1.043246e+06
mean     4.472810e+00  3.245368e+01  1.024260e+04  6.823654e+02  1.220174e+00
std      2.967065e+00  1.625856e+01  6.305360e+03  1.124829e+03  1.600203e+00
min      0.000000e+00  0.000000e+00  1.200000e+01 -1.000000e+00 -6.000000e+00
25%      2.000000e+00  2.200000e+01  4.548000e+03  1.990000e+02  1.000000e+00
50%      4.000000e+00  3.000000e+01  9.691000e+03  3.990000e+02  1.000000e+00
75%      7.000000e+00  4.700000e+01  1.561875e+04  6.993000e+02  1.000000e+00
max      1.000000e+01  5.900000e+01  2.216800e+04  5.920000e+04  2.880000e+02

In [0]:
train.mean()

# Median: Middle value of dataset


<img src="https://www.mathsisfun.com/data/images/median.svg
" width="400" height="200" >

In [0]:
train.median()

<b>(1043246, 6)</b>


1.   1043246 --> number of rows in the dataset
2.   6 --> number of columns in the dataset

In [0]:
train.shape

# Mode: number which is repeated most of the time in the list

<img src="https://www.mathsisfun.com/data/images/mode.svg
" width="300" height="200" >

In [0]:
#train.iloc[0]## first row of data frame
#train.iloc[169:171,0:3]#First column
train.mode()

# Range: 
The range gives a measure of how spread apart the values are
The range is simply calculated as the maximum value – minimum value <br>
                        <b>  Max(xi)–Min(xi) </b>
                          <br>
                          <br>
                          <br>
<img src="https://www.mathsisfun.com/data/images/range.svg" width="350" height="150" >

In [0]:
import numpy as np
print("Range for item_price:",np.ptp(train.item_price, axis=0))
print("Range for item_cnt_day:",np.ptp(train.item_cnt_day, axis=0))

#Outliers: Anything which is not following the normal range of the data

<img src="https://www.stevesjogren.com/wp-content/uploads/2011/06/1_TbUF_HTQ6jOhO8EoPnmekQ.jpg" width="300" height="200" >

# <b>Z-Score</b>
Z-score is a numerical measurement used in statistics of a value's relationship to the mean (average) of a group of values, measured in terms of standard deviations from the mean

(Measuring the distance of your point from the mean)
# To handle the outliers

<img src="https://www.animatedsoftware.com/pics/stats/sgzscor2.gif" width="450" height="200" >

In [0]:
from scipy import stats
import numpy as np

In [0]:
# Using Z-score function defined in scipy library to detect the outliers
z = np.abs(stats.zscore(train[['item_price','item_cnt_day']]))
print(z)

In [0]:
# Define a threshold to identify an outlier
threshold = 5
print(np.where(z > threshold))

In [0]:
# The first array contains the list of row numbers and second array respective column numbers, 
# which mean z[352][1] have a Z-score higher than 5.
print(z[117][1])

In [0]:
# Printing the sample values for the same
train.iloc[169:171]
z[169][1]

# What is Quatile?
Breaking the dataset into quaters


<img src="https://www.mathsisfun.com/data/images/quartiles-c.svg" width="450" height="150" >

# What is interquatile range?

Difference between the quatile 1 and quatile 3



<img src="https://www.mathsisfun.com/data/images/interquartile-range.svg
" width="450" height="250" >

In [0]:
def remove_outlier(df_in, col_name):
    q1 = df_in[col_name].quantile(0.25)
    q3 = df_in[col_name].quantile(0.75)
    iqr = q3-q1 #Interquartile range
    print(iqr)
    fence_low  = q1-1.5*iqr
    print(fence_low)
    fence_high = q3+1.5*iqr
    print(fence_high)
    df_out = df_in.loc[(df_in[col_name] > fence_low) & (df_in[col_name] < fence_high)]
    print(df_out)
    return df_out

In [0]:
remove_outlier(train,"item_price").head()

# Standard deviation :
Standard deviation is a number used to tell<b> how measurements for a group are spread out from the average (mean)</b>, or expected value. A low standard deviation means that most of the numbers are close to the average. A high standard deviation means that the numbers are more spread out.
<br>
<br>
<br>
![image.png]()

# <b> Variance </b>

Variance measures how far a set of data is spread out. A variance of zero indicates that all of the data values are identical. All non-zero variances are positive. Variance is the average of the squared distances from each point to the mean.

<img src="http://zerodha.com/varsity/wp-content/uploads/2017/03/Formula-variance.png" width="350" height="150" >

<br>
<b>
1.   x = Particular value<br>
2.   meu = mean value<br>
3.   N = numbers of observation</b>

In [1]:
np.var(train[['item_price','item_cnt_day']], axis=0)

NameError: ignored

#  Using box plots

In [0]:
%matplotlib inline
import seaborn as sns

In [0]:
sns.boxplot(x=train['item_price'])

In [0]:
sns.boxplot(x=train['item_cnt_day'])

#### Using scatter plots

In [0]:
sns.scatterplot(x="item_cnt_day", y="item_price", data=train)

### Mode

In [0]:
train.mode()